@model List<CreatedTestYourselfViewModel>
@{
    ViewData["Title"] = "StartedTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
    List<CreatedTestYourselfViewModel> words = (List<CreatedTestYourselfViewModel>)Model.ToList();
}

<h2>Test</h2>

<form asp-antiforgery="true" asp-controller="TestYourself" asp-action="ResultOfTest" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" class="validation" asp-validation-summary="ModeOnly">
    @for (int i = 0; i < words.Count(); i++, counter++)
    {
        <div class="form-group">
            <label>@counter</label>
            <label>@words[i].Name</label>
            <input asp-for="@words[i].NameOfCurrentInputTranslation" class="form-control custom-control" required />
            <span asp-validation-for="@words[i].NameOfCurrentInputTranslation" class="form-text text-danger"></span>
        </div>

    }
    <input type="submit" value="Закончить тест" class="btn btn-primary" />
    <a asp-controller="TestYourself" asp-action="Index" class="btn btn-info">Назад</a>
</form>