@model IndexHomeViewModel
@{ 
    List<WordInEnglish> words = (List<WordInEnglish>)Model.WordsInEnglish.ToList();
    int count = 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <a asp-controller="WordInEnglish" asp-action="Create" class="btn btn-info">Добавить новое слово</a>
                    </div>
                    <form method="get">
                        <div class="col-md-4">
                            @Html.DropDownList("stage", Model.Filters.StagesOfMethod as SelectList, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                @Html.TextBox("nameOfWord", Model.Filters.SelectedName, htmlAttributes: new { @class = "form-control search-form", @placeholder = "Поиск" })
                                <span class="input-group-btn">
                                    <input type="submit" name="submit" class="btn btn-info search-btn" value="Поиск">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-body">
                <table class="table" id="tableContent">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Стейдж</th>
                            <th>Перевод</th>
                            <th>Информация</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody id="dataView">
                        @if (words.Count > 0)
                        {
                            for (int i = 0; i < words.Count; i++, count++)
                            {
                                <tr>
                                    <th>@count</th>
                                    <th>@words[i].Name</th>
                                    <th>@words[i].StageOfMethod.Name</th>
                                    <th>
                                        @foreach(var translations in words[i].TranslationOfWords)
                                        {
                                            <p>@translations.Name</p>
                                        }
                                    </th>
                                    
                                    <th><a asp-controller="WordInEnglish" asp-action="Details" asp-route-id="@words[i].Id"><span class="glyphicon glyphicon-info-sign"></span></a></th>
                                    <th><a asp-controller="WordInEnglish" asp-action="Edit" asp-route-id="@words[i].Id"><span class="glyphicon glyphicon-edit"></span></a></th>
                                    <th><a asp-controller="WordInEnglish" asp-action="Delete" asp-route-id="@words[i].Id"><span class="glyphicon glyphicon-trash"></span></a></th>
                                </tr>
                            }
                        }
                        else
                        {
                            @Html.Partial("_NotFound")
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
